
.bg-img{
  background-image: url("https://i.pinimg.com/originals/c6/60/24/c66024ea79527d9bbafe79ed171558b9.jpg"); 
   background-position: center;
   background-repeat: no-repeat;

   filter: blur(4px);
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 200%;
}
.register{
  width:90%;
  align-content: center;
  padding-left: 20%;
  flex-wrap: wrap;
 
  
 }
.myborder{
    border: 2px rgb(16, 77, 116);
    padding: 15px;
    

}

.bg-mypale{
    background-color: rgb(247, 192, 160);
  
  }
  

div.myborder {
    outline-style: solid;
    
    outline-color:rgb(16, 77, 116);
  }

  div.subhead {
    background-color: rgb(16, 77, 116);
    transform: skew(20deg); /* SKEW */
    width: 35%;
    height: 15%;
  }
  
  p.lead {
    display: block; /* block or inline-block is needed */
    text-decoration: none;
    padding: 5px 10px;
    
    font: 30px/1 sans-serif;
    transform: skew(-20deg); /* UNSKEW */
    color: white;
  }