.exploreButton
{
  
  height: 50px;
  background-color:rgb(16, 77, 116);
  color: white;
  
}
.exploreButton:hover
{
  
 
  background:rgb(16, 77, 116);
  border:2px solid rgb(16, 77, 116);
  color:#fff;
}

.button2:hover {
    background-color: white; 
    padding: 2%;
    font-size: 15px;
    font-weight: bold;
    
    color: rgb(16, 77, 116); 
    border: 2px solid rgb(16, 77, 116);
  }
  
  .button2 {
    padding: 2%;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    margin: 2%;
    background-color: rgb(16, 77, 116);
    color: white;
  }